@import "bootstrap/variables";

//
// colours
//
$white:                               #fff;
$black:                               #000;
$gray-light:                          darken($gray-lighter, 8%);
$gray-lighter:                        lighten($gray-lighter, 2%);

// brand
$brand-primary:                       #cc2936;


//
// fonts
//
$font-family-sans-serif:              "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base:                    $font-family-sans-serif;

//
// navigation
//
$navbar-height:                       ($navbar-height + 10px);
$navbar-padding-vertical:             (($navbar-height - $line-height-computed) / 2);
$navbar-padding-horizontal:           20px;
$navbar-default-color:                $white;
$navbar-default-link-color:           $navbar-default-color;
$navbar-default-brand-color:          $navbar-default-color;
$navbar-default-bg:                   $brand-primary;
$navbar-default-link-hover-color:     $black;
$navbar-default-brand-hover-color:    $navbar-default-link-hover-color;
$navbar-default-toggle-icon-bar-bg:   $navbar-default-color;
$navbar-default-toggle-hover-bg:      darken($navbar-default-bg, 10%);
