.modal {
    &-content {
        .modal-header {
            .modal-title {
                text-align: center;
            }
        }
    }

  &-footer {
      .btn-close {
          margin-right: 5px;
      }
  }
}

.modal-list-item {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    border-bottom: 1px solid $gray-lighter;

    &:last-child {
        border-bottom: none;
    }
}