<div class="modal-header">
    <button
        type="button"
        class="close"
        aria-label="Close" ng-click="cancel()"
    >
        <span aria-hidden="true">&times;</span>
    </button>

    <h4 class="modal-title">Appointment Information</h4>
</div>

<div class="modal-body appointment-info">
    <div class="row">
        <div class="appointment-info__description">{{ appointment.name }}</div>

        <div class="appointment-info__time">
            <label>
                Start Time

                <input
                    type="time"
                    step="60"
                    name="start-time"
                    class="start-time"
                    ng-value="appointment.startTime.format('HH:mm')"
                >
            </label>

            <label>
                Finish Time
                <input
                    type="time"
                    step="60"
                    name="finish-time"
                    class="finish-time"
                    ng-value="appointment.endTime.format('HH:mm')"
                >
            </label>
            <strong>Timezone</strong> - <span class="timezone">&lt;Local&gt;</span><br>
        </div>
    </div>

    <div class="row">
        <div class="appointment-info__calendars">
            <h4>Calendar</h4>
            <strong>Main Calendar</strong><!-- @TODO calendar selection -->
        </div>

        <div class="appointment-info__highlight">
            <h4>Highlight</h4>

            <label><input type="radio" name="highlight" value="always" checked> Always</label>
            <label><input type="radio" name="highlight" value="never"> Never</label>
            <label><input type="radio" name="highlight" value="until-expiration"> Until Expiration</label>
            <label><input type="radio" name="highlight" value="as-holiday"> As Holiday</label>

            <label><input type="checkbox" name="todo" value="0"> Todo Item</label>
        </div>

        <div class="appointment-info__early-warning">
            <h4>Early Warning</h4>

            <input type="range" name="points" min="0" max="15">
        </div>
    </div>

    <div class="row">
        <div class="appointment-info__alarms">
            <h4>Alarms</h4>

            <input type="range" name="points" min="0" max="10">

            <small>alarms in minutes</small>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
</div>

