<div class="modal-header">
    <button
        type="button"
        class="close"
        aria-label="Close" ng-click="cancel()"
    >
        <span aria-hidden="true">&times;</span>
    </button>

    <h4 class="modal-title">Information</h4>
</div>

<div class="modal-body appointment-info" ng-class="{'appointment-info--note': item.data_type == 'note'}">
    <div class="row">
        <textarea ng-model="item.text" class="appointment-info__description"></textarea>

        <div class="appointment-info__time">
            <label>
                Start Time

                <input
                    type="time"
                    step="60"
                    name="start-time"
                    class="start-time"
                    ng-value="item.start.format('HH:mm')"
                    ng-model="item.startTime"
                >
            </label>

            <label>
                Finish Time
                <input
                    type="time"
                    step="60"
                    name="finish-time"
                    class="finish-time"
                    ng-value="item.finish.format('HH:mm')"
                    ng-model="item.finishTime"
                >
            </label>
            <br>

            <strong>Timezone</strong> -
            <div class="timezone">
                {{ item.timezone }}
            </div>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="appointment-info__calendars">
            <h4>Calendar</h4>
            <label ng-repeat="calendar in calendars"><input type="radio" name="calendarID" ng-model="item.calendar_id" ng-value="calendar.id" checked> {{calendar.Name}}</label>
        </div>

        <div class="appointment-info__highlight">
            <h4>Highlight</h4>

            <label><input type="radio" name="highlight" ng-model="item.hilite" value="always" checked> Always</label>
            <label><input type="radio" name="highlight" ng-model="item.hilite" value="never"> Never</label>

            <label>
                <input type="radio" name="highlight" ng-model="item.hilite" value="until-expiration"> Until Expiration
            </label>

            <label>
                <input type="radio" name="highlight" ng-model="item.hilite" value="as-holiday"> As Holiday
            </label>

            <label>
                <input type="checkbox" name="todo" ng-model="item.todo"> Todo Item
            </label>
        </div>

        <!--<div class="appointment-info__early-warning">
            <h4>Early Warning</h4>

            <label for="early-warning">
                {{ item.remind_start }}
                <ng-pluralize count="item.remind_start"
                              when="{'0': 'days',
                                     '1': 'day',
                                     'other': 'days'}">
                </ng-pluralize>
            </label>
            <input type="range" name="early-warning" id="early-warning" min="0" max="15" ng-model="item.remind_start">
        </div>-->
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h4>Repeats</h4>

            <repeats item="item"></repeats>

            <br><br>
        </div>
    </div>

    <div class="row">
        <div class="appointment-info__alarms">
            <h4>Alarms</h4>

            <div ng-repeat="(i, alarm) in item.alarms">
                <div class="alarm">
                    <label class="alarm__slider"> {{ alarm.time }}
                        <ng-pluralize count="alarm.time"
                                      when="{'0': 'minutes',
                                             '1': 'minute',
                                             'other': 'minutes'}">
                        </ng-pluralize>
                        <input type="range" name="points" min="0" max="60" ng-model="alarm.time">
                    </label><div class="alarm__delete">
                        <button
                            class="btn btn-danger btn-sm pull-right"
                            ng-click="removeAlarm(i)"
                        >
                            <i class="fa fa-trash-o fa-fw"></i>
                        </button>
                    </div>
                </div>
            </div>

            <button class="btn btn-default btn-sm pull-right" ng-click="addAlarm()"><i class="fa fa-plus fa-fw"></i></button>
        </div>
    </div>
</div>

<div class="modal-footer">
    <div uib-dropdown class="pull-left" ng-if="!!item.recurrence_rule && item.recurrence_rule != 'FREQ=null'">
        <a href="#" class="btn btn-danger" ng-disabled="!item.text" uib-dropdown-toggle>
            Delete <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" uib-dropdown-menu>
            <li>
                <a href="#" ng-click="delete(false)">This event</a>
            </li>
            <li>
                <a href="#" ng-click="delete(true)">All events</a>
            </li>
        </ul>
    </div>

    <button
        type="button"
        ng-if="!item.recurrence_rule|| item.recurrence_rule == 'FREQ=null'"
        class="btn btn-danger pull-left"
        ng-click="delete(true)"
    >
        Delete
    </button>

    <div uib-dropdown class="pull-right" ng-if="!!item.recurrence_rule && itemClone.recurrence_rule == item.recurrence_rule">
        <a href="#" class="btn btn-primary" uib-dropdown-toggle ng-disabled="!item.id">
            Save changes <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" uib-dropdown-menu>
            <li>
                <a href="#" ng-click="update(false)">This event</a>
            </li>
            <li>
                <a href="#" ng-click="update(true)">All events</a>
            </li>
        </ul>
    </div>

    <button type="button" class="btn btn-default btn-close" ng-click="cancel()">Close</button>

    <button
        type="button"
        ng-if="!item.recurrence_rule || itemClone.recurrence_rule != item.recurrence_rule"
        ng-click="update(true)"
        class="btn btn-primary"
        ng-disabled="!item.text"
    >
        Save changes
    </button>
</div>

