<div class="day-view" id="day-view" ng-cloak du-scroll-container>
    <div class="day-view__appointments" ng-click="!!newAppointment || createAppointment($event);">
        <a
            href="#"
            class="appointment"
            ng-repeat="appointment in appointments"
            ng-class="{ 'appointment--selected': selectedAppointment === appointment }"
            ng-style="{ 'top': appointment.offset + 'px', 'height': appointment.length + 'px' }"
            ng-dblclick="viewAppointmentDetail(appointment)"
        >
            <strong>{{ appointment.text }}</strong>
            <time>{{ appointment.start.format("HH:mm") }} - {{ appointment.finish.format("HH:mm") }}</time>
        </a>

        <a
            href="#"
            class="appointment appointment--creator"
            ng-show="newAppointment !== null"
            ng-style="{ 'top': newAppointment.offset + 'px', 'height': newAppointment.length + 'px' }"
            ng-dblclick="viewAppointmentDetail(newAppointment)"
        >
            <strong><label><textarea ng-model="newAppointment.text"></textarea></label></strong>
            <time>{{ newAppointment.start.format("HH:mm") }} - {{ newAppointment.finish.format("HH:mm") }}</time>
        </a>
    </div>

    <table class="day-view__grid">
        <tr class="time-slot" ng-repeat="hour in [24] | range">
            <td class="time">
                {{ hour }}:00
            </td>

            <td></td>
        </tr>
    </table>
</div>
