<div class="month-view" ng-cloak>
    <div class="month-view__controls">
        <div class="month-controls">
            <a href="#" class="btn btn-default previous-month" ng-click="currentDate.subtract(1, 'months')">&larr;</a>
            <span class="month">{{ currentDate.format("MMMM") }}</span>
            <a href="#" class="btn btn-default next-month" ng-click="currentDate.add(1, 'months')">&rarr;</a>
        </div>

        <div class="year-controls">
            <a href="#" class="btn btn-default previous-year" ng-click="currentDate.subtract(1, 'years')">&larr;</a>
            <span class="year">{{ currentDate.format("Y") }}</span>
            <a href="#" class="btn btn-default next-year" ng-click="currentDate.add(1, 'years')">&rarr;</a>
        </div>
    </div>

    <div class="month-view__grid">
        <table>
            <tr class="days" ng-if="!!weeks">
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
            </tr>

            <tr ng-repeat="week in weeks">
                <td
                    ng-repeat="day in week"
                >
                    <a
                        href="#"
                        class="day"
                        ng-if="!!day.day"
                        ng-class="{'day--has-appointments': day.events, 'day--selected': currentDate.date() === day.day}"
                        ng-click="currentDate.date(day.day)"
                    >
                        {{ day.day }}
                    </a>
                </td>
            </tr>
        </table>
    </div>

    <div class="month-view__skip">
        <a href="#" class="btn btn-default previous-day" ng-click="currentDate.subtract(1, 'days')">
            Previous
        </a>

        <a href="#" class="btn btn-default today" ng-click="currentDate = today.clone()">
            Today
        </a>

        <a href="#" class="btn btn-default next-day" ng-click="currentDate.add(1, 'days')">
            Next
        </a>
    </div>
</div>
