<div class="upload">
    <h1>Import an existing calendar</h1>

    <p>Please select a file to upload. This must be one of the following:</p>

    <ul>
        <li>An ical-tcl <code>.calendar</code> file (usually located at <code>~/.calendar</code>)</li>
        <li>A ICS file, though note that this functionality has not been fully tested!</li>
    </ul>

    <form name="import">
        <label>
            Choose a calendar format
            <select ng-model="calendarFormat">
                <option value="ical-tcl">ical-tcl</option>
                <option value="ics">ICS (iCal standard)</option>
            </select>
        </label>

        <div ng-show="calendarFormat == 'ical-tcl'">
            <p>To upload an ical-tcl <code>~/.calendar</code> file, I recommend the following so you
            can open the file in your browser easily:</p>

            <code>
                cp ~/.calendar ~/Desktop/calendar-file
            </code>

            <p>Then you can import the file from your desktop.</p>
        </div>


        <div
            ng-show="!!calendarFormat"
            class="btn btn-primary"
            ngf-select
            ng-model="file"
            name="file"
            ngf-max-size="20MB"
        >
            Select a calendar file
        </div>

        <br><br>


        <div class="upload__file" ng-show="file">
            <small>File selected: {{ file.name }}</small><br>

            <button ng-if="file" type="submit" class="btn btn-success" ng-click="submit()">Import Calendar</button>
        </div>

        <div class="upload__response" ng-show="uploadAttempt">
            <div ng-show="uploadSuccess">
                Your file (<code>{{ file.name }}</code>) has successfully been uploaded and imported.
                <a ui-sref="index({calendarID: calendarID})">View calendar</a>.
            </div>

            <div ng-show="!uploadSuccess">
                Your file (<code>{{ file.name }}</code>) failed to upload.
            </div>
        </div>
    </form>
</div>
