<div
    class="appointment"
    ng-class="{ 'appointment--selected': active }"
    ng-style="{ 'top': info.offset + 'px', 'height': info.length + 'px'}"
    ng-dblclick="viewDetail(); $event.stopPropagation();"
    r-directions="['bottom', 'top']"
    ng-click="active = true"
    ng-blur="active = false"
    resizable
>
    <textarea ng-change="submit(false)" ng-model="info.text" ng-model-options='{ debounce: 1000 }'></textarea>
    <time>{{ info.start.format("HH:mm") }} - {{ info.finish.format("HH:mm") }}</time>
    <a class="view-detail" ng-click="viewDetail();"><i class="fa fa-fw fa-info-circle"></i></a>
</div>
