<div
    class="appointment"
    ng-class="{ 'appointment--selected': active }"
    ng-style="{
        'top': info.offset + 'px',
        'height': info.length + 'px',
        'width': (100 / info.maxCollisions) + '%',
        'margin-left': (100 / info.collisions.length * info.collisions.indexOf(info.id)) + '%'
    }"
    ng-dblclick="viewDetail(); $event.stopPropagation();"
    r-directions="['bottom', 'top']"
    ng-click="active = true"
    ng-blur="active = false"
    r-centered-y="true"
    resizable
>
    <textarea ng-change="submit(false)" ng-model="info.text" ng-model-options='{ debounce: 1000 }' ng-focus-if="info.text == ''"></textarea>
    <time>{{ info.start.format("HH:mm") }} - {{ info.finish.format("HH:mm") }}</time>
    <a class="view-detail" ng-click="viewDetail();"><i class="fa fa-fw fa-info-circle"></i></a>
</div>
